Notes/
pyBak/
OldOutDir
Tests/
Data/simple0/
Data/test1/out1.txt
Data/test1/payoff.txt
Data/test1/pref_tst.txt
Data/test1/pref1.txt
Data/test1/pref
Data/test1/pay
Data/test1/*.csv
Data/test1/*.jpg
Data/test1/*.png
Data/test2/
Data/test2a/
Data/test2b/
Data/test3/
Out_dir/
# links to pipa
dat1.dat
inst.py
sms.py
